NEXT_PUBLIC_SUPABASE_URL=<api-url>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<anon key>
NEXT_PUBLIC_SUPABASE_SERVICE_KEY=<service_role key>
DATABASE_URL=<DB-url>
OPENAI_API_KEY=<openai-key>
SUPABASE_ACCESS_TOKEN=<access-token>
SUPABASE_PROJECT_REF=<project-ref>