APP_URL=http://localhost:3000

SUPABASE_URL=<api-url>
SUPABASE_ANON_KEY=<anon key>
SUPABASE_SERVICE_KEY=<service_role key>
DATABASE_URL=<DB-url>

OPENAI_API_KEY=<openai-key>

# Use this to show additional options in the UI for development/testing purposes
# ENABLE_DEV_OPTIONS=true
# Generally, don't set this locally unless you're developing something for Mixpanel tracking. We don't want to capture local envents
# NEXT_PUBLIC_MIXPANEL_TOKEN=

# This enables additional features in the app for development and testing purposes, like selecting a chat model
#ENABLE_DEV_OPTIONS=true

# This turns on additional debug logging
# DEBUG=true

AI_MODEL_DEFAULT=gpt-4.1-mini
#AI_MODEL_ROUTER=gpt-4o
#AI_MODEL_QUERY_PLAN=gpt-5-codex
#AI_MODEL_TAG_ANALYSIS=gpt-4o