NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=<api-url>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<anon key>
NEXT_PUBLIC_SUPABASE_SERVICE_KEY=<service_role key>
DATABASE_URL=<DB-url>

OPENAI_API_KEY=<openai-key>